<div class="container-fluid">
<h1 class="display-4">Enrollment form</h1>

<h4>Form Control :  ngModel and needs name attribute </h4>

<form #simpleForm="ngForm" (ngSubmit)="onSubmit(simpleForm)">

  <div class="mb-3">
    <label class="form-label">First Name</label>
    <input type="text" class="form-control"  name="firstName" ngModel>
  </div>

  <div class="mb-3">
    <label class="form-label">Last Name</label>
    <input type="text" class="form-control"  value="" name="lastName"  ngModel>
  </div>

  <div class="form-check my-5">
    <select ngModel name="selectedSubject">
    <option selected value=""  name="bydefault" class="form-control">Please select an option</option>
    <option *ngFor="let subject of sub" [value]="subject"> {{subject}}</option>
    </select>
  </div>

  <div ngModelGroup="address">
    <label class="form-label"> Address: </label>

    <div class="mx-2 my-2">
      <label class="form-label">City:</label>
      <input type="text" name="city"  class="form-control" ngModel>
    </div>

    <div class="mx-2 my-2">
      <label class="form-label">state:</label>
      <input type="text" name="state"  class="form-control" ngModel>
    </div>

    <div class="mx-2 my-2">
      <label class="form-label">Zip Code:</label>
      <input type="text" name="zipcode"  class="form-control" ngModel>
    </div>

  </div>

  <button type="submit" class="btn btn-primary mx-4 my-4">Submit</button>
  <button type="submit" class="btn btn-danger" (click)="resetmyFrom(simpleForm)">Reset</button>

</form>

</div>

